# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [1]:
# Use this cell to write your code for Task 1
import pandas as pd
import numpy as np
# Load the data
house_sales = pd.read_csv("house_sales.csv")

In [2]:
house_sales['city'].value_counts()

city
Silvertown    517
Teasdale      366
Poppleton     362
Riverford     182
--             73
Name: count, dtype: int64

In [3]:
house_sales.replace('--',np.nan,inplace=True)

In [4]:
house_sales.isna().sum()

house_id          0
city             73
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64

In [5]:
# Calculate the number of missing values in the 'city' column
missing_city = house_sales['city'].isnull().sum()

# Convert missing_city to an object data type
missing_city = missing_city.astype('object')

print(missing_city)

73

In [6]:
house_sales.dtypes

house_id           int64
city              object
sale_price         int64
sale_date         object
months_listed    float64
bedrooms           int64
house_type        object
area              object
dtype: object

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [7]:
# Replace various representations of missing values with NaN
missing_values = ['-','--','', 'missing,','NA',None, 'missing', 'N/A', 'NULL']
house_sales.replace(missing_values, np.nan,inplace=True)

In [8]:
house_sales.isna().sum()

house_id          0
city             73
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64

In [9]:
house_sales['house_type'].value_counts()

house_type
Detached         1046
Semi-detached     231
Terraced          123
Det.               78
Semi               14
Terr.               8
Name: count, dtype: int64

In [10]:
house_sales.head()

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,2021-09-12,5.4,2,Semi-detached,107.8 sq.m.
1,1900913,Silvertown,384677,2021-01-17,6.3,5,Detached,498.8 sq.m.
2,1174927,Riverford,281707,2021-11-10,6.9,6,Detached,542.5 sq.m.
3,1773666,Silvertown,373251,2020-04-13,6.1,6,Det.,528.4 sq.m.
4,1258487,Silvertown,328885,2020-09-24,8.7,5,Detached,477.1 sq.m.

In [11]:
house_sales['bedrooms'].value_counts()

bedrooms
3    314
6    306
5    305
2    288
4    287
Name: count, dtype: int64

In [12]:
# Use this cell to write your code for Task 2
import pandas as pd
import numpy as np


house_sales['house_id'] = house_sales['house_id'].astype(str)

# Replace missing values in 'city' with "Unknown"
house_sales['city'].fillna("Unknown", inplace=True)

# Remove rows with missing 'sale_price'
house_sales = house_sales[house_sales['sale_price'].notna()]

# Replace missing values in 'sale_date' with '2023-01-01'
house_sales['sale_date'].fillna("2023-01-01", inplace=True)

# Convert 'Date' column to datetime
house_sales['sale_date'] = pd.to_datetime(house_sales['sale_date'])

# Convert 'Date' column to ordinal
house_sales['sale_date'] = house_sales['sale_date'].apply(lambda date: date.toordinal())

# Replace missing values in 'months_listed' with the mean, rounded to one decimal place
mean_months_listed = house_sales['months_listed'].mean().round(1)
house_sales['months_listed'].fillna(mean_months_listed, inplace=True)

# Replace missing values in 'bedrooms' with the mean, rounded to the nearest integer
mean_bedrooms = house_sales['bedrooms'].mean().round()
house_sales['bedrooms'].fillna(mean_bedrooms, inplace=True)

# Replace missing values in 'house_type' with the most common house type
house_sales['house_type'] = house_sales['house_type'].replace('Det.','Detached')
house_sales['house_type'] = house_sales['house_type'].replace('Semi','Semi-detached')
house_sales['house_type'] = house_sales['house_type'].replace('Terr.','Terraced')


most_common_house_type = house_sales['house_type'].mode()[0]
house_sales['house_type'].fillna(most_common_house_type, inplace=True)


# Remove the string 'sq.m.' from the 'Area' column
house_sales['area'] = house_sales['area'].str.replace(' sq.m.', '')

# Convert the 'Area' column to float
house_sales['area'] = house_sales['area'].astype(float)

# Replace missing values in 'area' with the mean, rounded to one decimal place
mean_area = house_sales['area'].mean().round(1)
house_sales['area'].fillna(mean_area, inplace=True)

# Ensure 'house_id' has no missing values
assert house_sales['house_id'].isnull().sum() == 0, "There are missing values in 'house_id'"

# Create the cleaned dataframe
clean_data = house_sales

clean_data.head()

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,738045,5.4,2,Semi-detached,107.8
1,1900913,Silvertown,384677,737807,6.3,5,Detached,498.8
2,1174927,Riverford,281707,738104,6.9,6,Detached,542.5
3,1773666,Silvertown,373251,737528,6.1,6,Detached,528.4
4,1258487,Silvertown,328885,737692,8.7,5,Detached,477.1

In [13]:
pd.set_option('display.max_rows',None)

In [14]:
clean_data['house_type'].value_counts()

house_type
Detached         1124
Semi-detached     245
Terraced          131
Name: count, dtype: int64

In [15]:
clean_data.dtypes

house_id          object
city              object
sale_price         int64
sale_date          int64
months_listed    float64
bedrooms           int64
house_type        object
area             float64
dtype: object

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [16]:
# Use this cell to write your code for Task 3
# Group by number of bedrooms and calculate the mean and variance of sale prices
price_by_rooms = house_sales.groupby('bedrooms')['sale_price'].agg(['mean', 'var']).reset_index()

# Rename the columns
price_by_rooms = price_by_rooms.rename(columns={'mean': 'avg_price', 'var': 'var_price'})

# Round the values to 1 decimal place
price_by_rooms['avg_price'] = price_by_rooms['avg_price'].round(1)
price_by_rooms['var_price'] = price_by_rooms['var_price'].round(1)

price_by_rooms.head()
# print(price_by_rooms)

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [17]:
# Use this cell to write your code for Task 4
from sklearn.linear_model import LinearRegression
from datetime import datetime

# Load the training and validation data
train_data = pd.read_csv("train.csv")
validation_data = pd.read_csv("validation.csv")

# Convert 'Date' column to datetime
train_data['sale_date'] = pd.to_datetime(train_data['sale_date'])

# Convert 'Date' column to ordinal
train_data['sale_date'] = train_data['sale_date'].apply(lambda date: date.toordinal())




# Convert 'Date' column to datetime
validation_data['sale_date'] = pd.to_datetime(validation_data['sale_date'])

# Convert 'Date' column to ordinal
validation_data['sale_date'] = validation_data['sale_date'].apply(lambda date: date.toordinal())


train_data.head()

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1634561,Teasdale,401869,738138,7.0,6,Detached,519.7
1,1009770,Silvertown,372387,738409,8.1,6,Detached,507.8
2,1946667,Silvertown,325473,737656,5.4,5,Detached,466.8
3,1798290,Silvertown,349469,738499,6.4,5,Detached,499.4
4,1533461,Poppleton,199995,737522,4.3,4,Detached,335.0

In [18]:
train_data.dtypes

house_id           int64
city              object
sale_price         int64
sale_date          int64
months_listed    float64
bedrooms           int64
house_type        object
area             float64
dtype: object

In [19]:
validation_data.dtypes

house_id           int64
city              object
sale_date          int64
months_listed    float64
bedrooms           int64
house_type        object
area             float64
dtype: object

In [20]:
validation_data.head()

,house_id,city,sale_date,months_listed,bedrooms,house_type,area
0,1331375,Teasdale,738292,7.7,3,Terraced,209.7
1,1630115,Teasdale,737606,6.5,4,Detached,390.6
2,1645745,Silvertown,737670,7.4,6,Detached,556.8
3,1336775,Silvertown,738066,8.8,3,Semi-detached,208.3
4,1888274,Silvertown,738319,5.7,4,Detached,389.2

In [21]:
X_train = train_data[['house_id','city', 'sale_date', 'months_listed', 'bedrooms', 'house_type','area']]

y_train = train_data['sale_price']

X_train = pd.get_dummies(X_train)

In [22]:
# Fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [23]:
X_validation = pd.get_dummies(validation_data)
# Predict the sale prices for the validation data
predicted_prices = model.predict(X_validation)

# Create a DataFrame with house_id and predicted prices
base_result = pd.DataFrame({
    'house_id': validation_data['house_id'],
    'price': predicted_prices
})

print(base_result)

     house_id          price
0     1331375  122282.469877
1     1630115  303468.886619
2     1645745  383972.796908
3     1336775  124465.070123
4     1888274  271393.286287
5     1567679  277905.228016
6     1298770  330748.189195
7     1662892  -14102.042833
8     1514321  169092.579197
9     1795371  211465.573475
10    1872688  216356.308656
11    1115697  144751.704637
12    1752850  359253.725553
13    1298746  352550.729917
14    1464795  196337.867452
15    1982802  166971.119277
16    1823033  239195.850925
17    1585193  144123.284376
18    1843329  340181.066486
19    1424530   36185.272594
20    1040934  390799.559360
21    1483696  361512.530950
22    1436940  313681.389133
23    1608175   32786.532444
24    1902237  175926.004312
25    1563689  297390.187395
26    1976354  202374.457154
27    1872940  325806.060740
28    1704427  341872.014190
29    1131878  327477.764753
30    1803015   56224.292624
31    1897548  192628.044096
32    1739654  174251.899400
33    1658430  201971.543880
34    1282370  172947.659826
35    1512890   72363.445289
36    1597534  144680.881919
37    1174073  284881.355160
38    1179366  406313.304249
39    1757117   93076.268088
40    1148656  133301.541021
41    1776320  372618.553410
42    1155319  262365.708759
43    1675362  197315.503869
44    1748129   58623.685372
45    1648926  268943.589967
46    1050783   71047.626804
47    1843278  304469.117918
48    1372090  248271.404078
49    1583730  373577.294055
50    1785440  327509.194977
51    1459181  192096.953954
52    1172373   23835.616947
53    1863428  347454.710859
54    1441768  113920.867350
55    1391522  287419.078609
56    1514959  307947.968249
57    1245154  365223.151991
58    1819123  287235.133197
59    1590249  267106.621236
60    1454241  435224.201879
61    1842811  100074.784947
62    1900872  262063.041728
63    1226463  258925.389737
64    1838399  334546.158874
65    1918258   39735.107822
66    1505853   93076.038763
67    1368297  318460.187149
68    1364171   39130.406751
69    1312331  144253.118836
70    1690593  282940.498208
71    1376720   32897.883187
72    1948257  409503.076917
73    1782823   73781.155130
74    1992569  376983.400314
75    1869181    5194.224940
76    1273905   64236.404236
77    1620111  257494.218580
78    1513082  203337.827941
79    1691647  301192.079585
80    1940791   56317.571143
81    1315709  184255.139884
82    1607614  409793.340055
83    1637288  441831.478557
84    1761461  257332.486023
85    1976582  104114.799839
86    1261848  304922.712728
87    1541480  206256.270902
88    1423388  221220.867106
89    1441081  223860.272953
90    1876203   74817.296479
91    1906830  136045.513310
92    1785964   94810.039746
93    1640596  381608.448957
94    1530222  170438.397135
95    1678434  332487.811210
96    1657557  331248.995672
97    1200571  209629.556978
98    1799836  343135.477765
99    1124016  341469.590017
100   1985411  293048.995024
101   1628410  367435.154881
102   1613699   91335.302341
103   1600040  161927.835711
104   1244290  400181.711098
105   1554191  285719.921539
106   1472329  341659.372441
107   1050498   85556.008746
108   1034991  218205.194048
109   1029323   55024.974681
110   1224300  374549.054879
111   1644542  137450.049109
112   1745244  324738.300315
113   1493567  206828.643008
114   1594882  310681.495096
115   1655085  326097.326709
116   1670541  267695.627282
117   1054223  276639.152084
118   1074177  424470.164101
119   1187739  199364.804130
120   1630028  309949.995907
121   1025051  196039.954843
122   1363143  349898.407933
123   1880616  278175.474848
124   1371184  218749.978306
125   1422468  200450.568472
126   1682343  251109.832277
127   1468993  101747.844225
128   1335369  213236.521472
129   1223033  286362.001979
130   1618848  192440.410160
131   1200250  310741.577489
132   1546960  364901.370339
133   1789534   21065.825358
134   1654193  129539.281588
135   1774861  128955.189158
136   1294123   63423.059621
137   1132389  347429.960475
138   1023244  381963.659327
139   1556979  269680.761789
140   1345607   77559.537929
141   1543125  337408.341509
142   1785813  169997.327998
143   1232810  402387.596788
144   1055500  268476.944616
145   1904524  343645.899305
146   1313543   37483.964675
147   1896398  122331.827422
148   1061170  280748.091062
149   1605340  316678.809618
150   1873279  159939.315733
151   1980931  160971.317212
152   1947837  266552.761211
153   1523163  341427.635797
154   1168025  281659.953729
155   1255889  308401.940224
156   1902558  242416.285841
157   1405049  316513.628711
158   1851237  254412.131952
159   1901086  277592.161391
160   1610017   76457.171606
161   1015072  359458.204722
162   1299339  392359.538976
163   1023245  140826.027518
164   1394532  253646.308332
165   1415271  408536.216741
166   1149435  322276.134630
167   1419562  272959.785096
168   1371166  300601.675726
169   1867596  258860.736570
170   1536578  167302.763919
171   1191722  211166.693338
172   1867660  433103.063547
173   1352525  349671.358096
174   1471588  322694.686436
175   1169020  188377.619790
176   1829980  255383.449327
177   1336456  319444.717566
178   1551547  211140.284310
179   1084525   11840.661168
180   1802024  223918.009155
181   1208690  115371.598571
182   1831765   66464.775005
183   1041337   29818.526443
184   1742399  185979.000334
185   1311228  310165.381237
186   1211440  271972.332754
187   1928685  402403.292172
188   1438401  223611.135951
189   1578620   40259.134758
190   1286919   40862.149434
191   1621362  225204.762083
192   1891818  256958.719389
193   1224082  263950.185331
194   1441305  389451.616829
195   1785728  258077.952871
196   1188771  100333.823724
197   1744066  146951.430258
198   1932778  250341.176595
199   1998416  334643.355042
200   1646039  324855.028414
201   1856969  395213.032015
202   1809964  133795.531667
203   1378201  289457.020939
204   1492069  371523.852695
205   1964568  331092.861857
206   1847152  188549.625652
207   1041205  134957.844180
208   1088529  100060.125579
209   1264482  332245.829833
210   1630628  410933.846256
211   1802916  208534.067074
212   1333975  -22320.615860
213   1356040  243479.115414
214   1612540   49928.671846
215   1483627  322290.273148
216   1173197  200495.345388
217   1724010   71962.109385
218   1255615  183476.291125
219   1345844  336297.141880
220   1894745  261545.555152
221   1897945  240197.817928
222   1798569  112505.865331
223   1321395  143186.955977
224   1966278   49424.684967
225   1573934  334150.739261
226   1370939  341319.962032
227   1715730  -35351.417674
228   1434414   78886.583477
229   1311541  202147.743021
230   1808149    2936.658123
231   1519036  321900.762685
232   1126650   35105.339976
233   1346856  410250.499097
234   1178752  119864.133038
235   1955444  124292.704446
236   1946823  270931.275646
237   1956249  335973.144867
238   1361116  370865.504822
239   1953547  136944.455925
240   1387353   50722.731177
241   1444191  402662.017268
242   1681415  202357.044773
243   1785835  377655.763264
244   1341484   86038.849139
245   1219378  411789.586974
246   1713767   39295.539624
247   1020316  132352.522608
248   1699778  247091.506810
249   1376556   80964.534257
250   1928980  415282.820069
251   1321240  136792.915918
252   1584304  113833.591248
253   1964668   95467.612147
254   1539402  397231.804965
255   1169447  219997.867332
256   1685799  400853.898308
257   1946819  284919.237183
258   1142073  364479.829333
259   1168921  358187.974846
260   1693370  152331.815905
261   1755830  175616.636318
262   1367533  380267.178352
263   1618993  422286.471983
264   1915967  292433.339138
265   1631130  238324.798945
266   1988509   55973.010216
267   1388944  122654.768197
268   1771003  261367.315351
269   1187863  254511.935935
270   1257275  355042.831957
271   1474884  383139.588488
272   1696653  112003.335970
273   1478107  223328.235824
274   1526803  416552.917398
275   1314648   49863.924815
276   1638350  351817.620889
277   1320114   98960.554748
278   1592594  390413.039604
279   1894657  156466.720649
280   1576880  213540.168359
281   1354547  185366.626039
282   1753927   30405.446086
283   1803775  291562.805141
284   1301923  127432.685514
285   1712718  173366.305484
286   1782816  344773.515557
287   1733312  314331.643539
288   1762141  197315.367038
289   1238711  276144.327283
290   1818778  126271.451349
291   1762071  366845.729816
292   1187695  304313.811942
293   1892672  116800.609926
294   1122156  230782.668199
295   1986255  350171.488365
296   1896276  369529.178376
297   1758223  259143.768405
298   1752010  168183.151343
299   1651404  390721.667863

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [24]:
# Use this cell to write your code for Task 5
from sklearn.ensemble import RandomForestRegressor

# Fit the RandomForestRegressor model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [25]:
# Predict the sale prices for the validation data
predicted_prices = model.predict(X_validation)

# Create a DataFrame with house_id and predicted prices
compare_result = pd.DataFrame({
    'house_id': validation_data['house_id'],
    'price': predicted_prices
})

print(compare_result)

     house_id      price
0     1331375   80309.93
1     1630115  303125.87
2     1645745  401481.27
3     1336775  106143.45
4     1888274  265037.92
5     1567679  280184.60
6     1298770  344361.00
7     1662892   38142.55
8     1514321  175386.33
9     1795371  214161.09
10    1872688  212817.41
11    1115697  144618.33
12    1752850  378504.08
13    1298746  360946.64
14    1464795  194545.98
15    1982802  167146.99
16    1823033  241243.28
17    1585193  110260.24
18    1843329  350371.16
19    1424530   44320.82
20    1040934  428536.90
21    1483696  381955.68
22    1436940  269578.38
23    1608175   43806.10
24    1902237  174519.08
25    1563689  277345.30
26    1976354  188135.88
27    1872940  323391.70
28    1704427  353653.97
29    1131878  329892.65
30    1803015   54566.20
31    1897548  189938.25
32    1739654  173382.14
33    1658430  214223.83
34    1282370  165056.80
35    1512890   70335.31
36    1597534  111220.53
37    1174073  276992.80
38    1179366  426980.49
39    1757117   99598.28
40    1148656  102940.89
41    1776320  412690.97
42    1155319  264292.02
43    1675362  207877.74
44    1748129   59752.57
45    1648926  272180.39
46    1050783   63970.31
47    1843278  270111.27
48    1372090  239582.75
49    1583730  380116.50
50    1785440  304594.59
51    1459181  196551.78
52    1172373   58285.42
53    1863428  327879.51
54    1441768  124812.48
55    1391522  254686.23
56    1514959  266170.50
57    1245154  367365.58
58    1819123  287604.19
59    1590249  261613.10
60    1454241  441097.64
61    1842811   77882.74
62    1900872  266896.31
63    1226463  234089.81
64    1838399  306138.35
65    1918258   55989.78
66    1505853   92435.74
67    1368297  331249.46
68    1364171   72385.32
69    1312331  154788.09
70    1690593  276981.96
71    1376720   55776.98
72    1948257  418834.40
73    1782823   86219.13
74    1992569  388962.08
75    1869181   48283.44
76    1273905   81123.58
77    1620111  259351.15
78    1513082  202623.71
79    1691647  301955.98
80    1940791   59384.05
81    1315709  187945.03
82    1607614  431493.17
83    1637288  494818.59
84    1761461  249994.36
85    1976582   78371.67
86    1261848  284525.67
87    1541480  200824.34
88    1423388  202759.22
89    1441081  218729.43
90    1876203   74326.61
91    1906830  119292.75
92    1785964   70175.90
93    1640596  408143.21
94    1530222  172045.50
95    1678434  336283.20
96    1657557  334275.16
97    1200571  197717.45
98    1799836  305300.16
99    1124016  351839.57
100   1985411  269927.72
101   1628410  397374.77
102   1613699   59269.37
103   1600040  153361.78
104   1244290  413843.88
105   1554191  290929.38
106   1472329  322557.41
107   1050498   87456.12
108   1034991  220406.12
109   1029323   69959.73
110   1224300  391599.37
111   1644542  119630.33
112   1745244  333209.43
113   1493567  205508.61
114   1594882  306443.60
115   1655085  320105.26
116   1670541  259116.27
117   1054223  284267.62
118   1074177  450328.16
119   1187739  194638.99
120   1630028  316579.84
121   1025051  182149.61
122   1363143  337144.64
123   1880616  273134.97
124   1371184  202683.60
125   1422468  205711.02
126   1682343  244750.51
127   1468993  123898.87
128   1335369  195848.77
129   1223033  286031.80
130   1618848  187290.23
131   1200250  331855.32
132   1546960  387633.73
133   1789534   49972.45
134   1654193  119410.58
135   1774861  123238.47
136   1294123   62555.89
137   1132389  345917.62
138   1023244  406585.35
139   1556979  233030.38
140   1345607   67664.41
141   1543125  343730.47
142   1785813  178519.92
143   1232810  424075.03
144   1055500  234107.40
145   1904524  355200.97
146   1313543   56271.74
147   1896398   95687.17
148   1061170  248760.83
149   1605340  318486.03
150   1873279  170086.67
151   1980931  163751.58
152   1947837  259019.93
153   1523163  365670.30
154   1168025  282484.48
155   1255889  296411.59
156   1902558  228607.45
157   1405049  322953.41
158   1851237  235632.28
159   1901086  279621.04
160   1610017   85535.71
161   1015072  372934.02
162   1299339  397080.57
163   1023245  108263.37
164   1394532  246478.56
165   1415271  428489.83
166   1149435  339967.25
167   1419562  275725.00
168   1371166  277246.47
169   1867596  258559.59
170   1536578  167747.22
171   1191722  207752.29
172   1867660  475970.42
173   1352525  359967.81
174   1471588  312223.64
175   1169020  194888.31
176   1829980  230811.87
177   1336456  319406.97
178   1551547  214448.58
179   1084525   53333.60
180   1802024  218154.72
181   1208690   90553.92
182   1831765   79087.67
183   1041337   56255.61
184   1742399  177609.00
185   1311228  322680.01
186   1211440  267786.21
187   1928685  421764.71
188   1438401  215985.51
189   1578620   56427.31
190   1286919   66814.60
191   1621362  216407.54
192   1891818  249393.45
193   1224082  256822.04
194   1441305  396424.38
195   1785728  252385.35
196   1188771  100072.34
197   1744066  150147.10
198   1932778  253311.18
199   1998416  312900.09
200   1646039  339960.73
201   1856969  419410.80
202   1809964  138786.16
203   1378201  277816.22
204   1492069  402630.10
205   1964568  347012.41
206   1847152  178442.98
207   1041205  140121.89
208   1088529   92172.98
209   1264482  341800.03
210   1630628  428763.84
211   1802916  197240.11
212   1333975   39768.95
213   1356040  244249.67
214   1612540   55804.97
215   1483627  336583.93
216   1173197  208931.12
217   1724010   68274.63
218   1255615  176438.80
219   1345844  324182.43
220   1894745  265280.95
221   1897945  243975.16
222   1798569  123662.23
223   1321395  143772.98
224   1966278   50687.11
225   1573934  336669.02
226   1370939  337256.19
227   1715730   38526.85
228   1434414   85931.48
229   1311541  202517.37
230   1808149   48687.59
231   1519036  344299.27
232   1126650   60894.14
233   1346856  420506.33
234   1178752  104192.51
235   1955444  136410.13
236   1946823  269891.96
237   1956249  301447.23
238   1361116  387584.72
239   1953547  138758.77
240   1387353   56549.08
241   1444191  423120.06
242   1681415  197815.80
243   1785835  389025.41
244   1341484   79582.72
245   1219378  438695.10
246   1713767   65778.03
247   1020316  103532.57
248   1699778  255615.50
249   1376556   87916.06
250   1928980  456155.37
251   1321240  120309.78
252   1584304  125243.29
253   1964668   74165.89
254   1539402  414192.41
255   1169447  205958.85
256   1685799  428401.74
257   1946819  252736.92
258   1142073  352182.21
259   1168921  352191.23
260   1693370  162299.43
261   1755830  172106.17
262   1367533  374834.57
263   1618993  470482.52
264   1915967  291987.03
265   1631130  223672.96
266   1988509   71554.11
267   1388944   97402.16
268   1771003  263291.77
269   1187863  253578.42
270   1257275  368136.45
271   1474884  401382.83
272   1696653   83747.87
273   1478107  216909.41
274   1526803  444641.51
275   1314648   55995.32
276   1638350  351840.39
277   1320114   68049.40
278   1592594  395446.17
279   1894657  127840.61
280   1576880  218430.26
281   1354547  185920.33
282   1753927   55122.49
283   1803775  294524.65
284   1301923  113890.78
285   1712718  167194.47
286   1782816  354356.04
287   1733312  324109.48
288   1762141  195592.57
289   1238711  276636.01
290   1818778   98997.39
291   1762071  341417.35
292   1187695  310183.99
293   1892672   82417.44
294   1122156  210855.61
295   1986255  361890.17
296   1896276  388416.69
297   1758223  261910.42
298   1752010  177037.82
299   1651404  409257.50